<section class="get">
    <div>
        {{# each items }}
            <article class="item">
                <div>long: {{ this.long }}</div>
                <div>abc: {{ this.abc}}</div>
            </article>
        {{/each}}
    </div>
</section>
